<div class="container py-5">
  <div class="card border-primary">
    <div class="card-header text-primary">
      <h4> Présentation </h4>
    </div>
    <div class="card-body">
      <p> L'objectif est de ramener plus de discussion sur Discord grâce à un Bot qui va proposer de mettre en lien les moussaillons.</p>

      <p> La seule documentation est pour l'instant sur le README du github <a href="https://github.com/mvoland/the-hacking-bot"> github.com/mvoland/the-hacking-bot</a> </p>

    </div>
  </div>
</div>
