<footer class="py-5 bg-secondary">
  <div class="container">
    <p class="m-0 text-center text-white">THP My Eventbrite : <a href="https://github.com/mvoland/thp-6-X_eventbrite" class="m-0 text-center text-white"> GitHub Project </a></p>
  </div>
</footer>
