<footer class="mt-auto py-3 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white"> The Hacking Bot : <a href="https://github.com/mvoland/the-hacking-bot" class="m-0 text-center text-white"> GitHub Project </a></p>
  </div>
</footer>
