<div class="jumbotron jumbotron-fluid jumbotron-home">
  <div class="container">
    <h1 class="display-4 font-weight-bold">  The Hacking Bot </h1>
    <div class="d-flex justify-content-between align-items-center mt-auto">

      <p class="lead"> The bot that will make you love Discord ❤️ </p>
      <a class="btn btn-lg btn-primary" href="https://github.com/mvoland/the-hacking-bot"> Voir sur GitHub </a>

    </div>
  </div>
</div>
