
<div class="container mt">

  <% if DiscordBot.keep_alive %>
    <div class="alert alert-success mb-3" role="alert">
      Tu viens de réveiller The Hacking Bot, merci !
    </div>
  <% else %>
    <div class="alert alert-secondary mb-3" role="alert">
      Info : The Hacking Bot déjà réveillé
    </div>
  <% end %>
</div>

<div class="container">
  <div class="card border-primary mb-3 mt-4">
    <div class="card-header text-primary">
      <h4> Présentation </h4>
    </div>
    <div class="card-body">
      <p> L'objectif est de ramener plus de discussion sur Discord grâce à un Bot qui va proposer de mettre en lien les moussaillons.</p>

      <p> La seule documentation est pour l'instant sur le README du github <a href="https://github.com/mvoland/the-hacking-bot"> github.com/mvoland/the-hacking-bot</a> </p>

    </div>
  </div>
</div>
