<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 font-weight-bold">  The Hacking Bot </h1>
    <div class="d-flex justify-content-between align-items-center mt-auto">

      <p class="lead"> The bot that will make you love Discord ❤️ </p>
      <a class="btn btn-lg btn-primary" href="https://github.com/mvoland/the-hacking-bot-v2"> Voir sur GitHub </a>

    </div>
  </div>
</div>

<div class="container mt">

  <% if DiscordBot.run %>
    <div class="alert alert-success mb-3" role="alert">
      Tu viens de réveiller The Hacking Bot, merci !
    </div>
  <% else %>
    <div class="alert alert-secondary mb-3" role="alert">
      Info : The Hacking Bot déjà réveillé
    </div>
  <% end %>
</div>

<div class="container">
  <div class="card border-primary mb-3 mt-4">
    <div class="card-header text-primary">
      <h4> Présentation </h4>
    </div>
    <div class="card-body">
      <p> L'objectif est de ramener plus de discussion sur Discord grâce à un Bot qui va proposer de mettre en lien les moussaillons.</p>
    </div>
  </div>
</div>
